# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\自我学习文档\严同学毕设\system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
